* {
  // outline: 1px solid skyblue;
}

// .card-warp {
//   height: 200px;
//   width: 200px;
//   display: block;
//   justify-content: center;
//   padding: 2%;
//   border: 1px solid navy;
//   border-radius: 20px;
// }

// .card-title {
// display: inline-block;
//   margin: 0 0.5rem;

//   animation: bounce; /* referring directly to the animation's @keyframe declaration */
//   animation-duration: 5s; /* don't forget to set a duration! */
//   font-size: 2rem;
//   text-align: center;
//   display: block;
//   justify-content: center;

//   /* 動畫時間 */
//   transition: 5s;
// }
// .card-title-national {
//   background: rgb(192, 214, 255);
// }

// .card-title-capital {

// }

.card-wrap {
  position: relative;
  width: 100%;
  // height: 200px;
}
.card {
  position: relative;
  width: 100%;
  height: 60px;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card.flipped {
  transform: rotateY(180deg);
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  font-size: 1.2rem;
  text-align: center;
}

.front {
  background-color: #e0e0e0;
}

.back {
  background-color: #d2eeff;
  transform: rotateY(180deg);
}

.card-flag {
  bottom: 10px;
  right: 5px;
  width: 100%;
  height: 150px;
  z-index: 10; /* 確保圖片不被其他元素擋住 */
  border: 1px solid rgb(199, 198, 198);
}

.card-flag img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 確保圖片填滿 */
}
