<div class="container py-3">
  <h2 class="row justify-content-center text-lg-center py-3">亞洲地區</h2>
  <div class="row row-cols-5 g-2 justify-content-center">
    <ng-container *ngFor="let item of list; let i = index">
      <div class="col m-2">
        <app-card
          [nationalCh]="item.natCh"
          [nationalEn]="item.natEn"
          [capitalCh]="item.capCh"
          [capitalEn]="item.capEn"
          [nationalFlag]="getLowerCaseFlag(item.flag)"
        ></app-card>
      </div>
    </ng-container>
  </div>
</div>
