.country-list {
  text-align: center;
}

.header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1;
  background: white;
  padding: 30px 0;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  width: 250px;
  height: 250px;
  perspective: 1000px;
}

.card-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  border-radius: 9px;
  position: absolute;
  backface-visibility: hidden;
}

.card-front {
  background: white;
  padding: 10px;
}
.card-front-img {
  bottom: 10px;
  right: 5px;
  width: 100%;
  height: 120px;
  z-index: 10; /* 確保圖片不被其他元素擋住 */
  // border: 1px solid rgb(199, 198, 198);
}
.card-front-img img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 確保圖片填滿 */
}

.card-back {
  background: #f8f8f8;
  transform: rotateY(180deg);
  padding: 5rem 0;
  justify-content: center;
  align-items: center;
}

.tags {
  padding: 5px 10px;
  border-radius: 15px;
  display: inline-block;
  font-size: 0.9em;
  color: #333;
  font-weight: 500;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
